.negrito {
  font-weight: bold;
}

.borda {
  padding: 5px;
  border-color: lightgray;
  border-style: solid;
  margin-bottom: 1em;
  border-width: thin;
}

.styleDivLabel {
  text-align: center;
  font-weight: bold;
}

.marginRigth {
  margin-right: 10px;
  font-weight: bold;
}

.styleFooter {
  text-align: center;
  color: gray;
}

.styleWhats {
  color: green !important;
  font-size: x-large !important;
}
