.bordaRight {
  padding-top: 2px;
  border-color: lightgray;
  border-style: solid;
  margin-right: -0.35em;
}

.bordaLeft {
  padding-top: 2px;
  border-color: lightgray;
  border-style: solid;
  margin-left: -0.35em;
}

.bordaTipo {
  padding-top: 2px;
  border-color: lightgray;
  border-style: solid;
  margin-bottom: 1em;
}

.styleDivLabel {
  text-align: center;
  font-weight: bold;
}
