<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Cadastro de cliente</ion-title>

    <ion-buttons slot="end">
      <ion-button
        (click)="submitForm()"
        color="primary"
        [disabled]="!clienteGroup.valid"
      >
        Salvar</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="clienteGroup">
    <div class="styleIcone">
      <i class="fa fa-user" slot="start" aria-hidden="true"></i>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" formControlName="nome"></ion-input>
      </ion-item>
    </div>
    <div *ngIf="clienteGroup.controls.nome.errors">
      <p class="labelError" *ngIf="clienteGroup.controls.nome.errors.required">
        Nome obrigatório!
      </p>
    </div>

    <div class="styleIcone">
      <i class="fa fa-whatsapp" aria-hidden="true"></i>
      <ion-item>
        <ion-label position="floating">Telefone</ion-label>
        <ion-input
          placeholder="DDD9xxxxxxxx"
          type="tel"
          formControlName="telefone"
          maxlength="12"
        ></ion-input>
      </ion-item>
    </div>
    <div *ngIf="clienteGroup.controls.telefone.errors">
      <p
        class="labelError"
        *ngIf="clienteGroup.controls.telefone.errors.required"
      >
        Telefone obrigatório!
      </p>
      <p
        class="labelError"
        *ngIf="clienteGroup.controls.telefone.errors.pattern"
      >
        Formato inválido!
      </p>
    </div>

    <div class="styleIcone">
      <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
      <ion-item>
        <ion-label position="floating">Observações</ion-label>
        <ion-textarea formControlName="observacao"></ion-textarea>
      </ion-item>
    </div>
  </form>
</ion-content>
