<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lançamentos</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="adicionarLancamento()"
        >Novo
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar
    placeholder="Filtrar por cliente ou período"
    (ionChange)="filtroEvent($event)"
  >
  </ion-searchbar>

  <ion-grid>
    <ion-row
      class="linha-zebrada"
      *ngFor="let lancamentoBean of filteredLancamentosBean"
    >
      <ion-col size-sm="5" size="12"> {{lancamentoBean.nomeCliente}} </ion-col>
      <ion-col size-sm="5" size="12"> {{lancamentoBean.periodo}} </ion-col>
      <ion-col size-sm="2" size="12">
        <ion-button color="light" (click)="editar(lancamentoBean.idLancamento)">
          <ion-icon name="pencil"></ion-icon>
        </ion-button>
        <ion-button color="light" (click)="deletar(lancamentoBean)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
